* {
  box-sizing: border-box;
}

body {
  background-color: #eef9bf;
}

header {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
  color: #75b79e;
  margin-top: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin-top: 47px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  border-radius: 5px;
  position: relative;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 34px;
}

.shown-face img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 24px;
  bottom: 22px;
  left: 7px;
  right: 7px;
}

.hidden-face img {
  position: absolute;
  width: 100px;
  top: 23px;
  left: 8.5px;
}

.hide {
  visibility: hidden;
}
